@import (less) './layout.less';
@import (less) './control.less';
@import (less) './gang.less';
@import (less) './tournamentBracket.less';

html, body, main {
  font-family: "IBM Plex Sans Thai";
  font-size: 16px;
  color: #555;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.fix-printing{
  margin-top: 40px;
  font-size: 20px;
  display: none;
}
@media print{
  .noprint{
      display:none;
  }
  .fix-printing{
    display: block;
  }
}


.ant-collapse{
  text-align: left !important;
  .ant-collapse-item{
    .ant-collapse-header{
      padding: 0px !important;
    }
  }
}

.ant-collapse-content{
  .ant-collapse-content-box{
    padding: 0px !important;
    text-align: left;
    width: 100%;
  }
}

.ant-space-align-baseline{
  height: 30px
}

.payment-modal{
  .ant-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  // .ant-modal-body{
  //   padding-bottom: 0px !important;
  // }
}


////////////////////////////////////////////////////////
.match-list{
  max-width: 400px;
  &.matchups{
    margin: 10px;
    .matchup{
      &:last-child{
        margin-bottom: 0 !important;
      }
      .participants{
        border-radius: 0.25rem;
        overflow: hidden;
        border: 1px solid @color-border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        
        .group{
          display: flex;
          &:not(:last-child){
            border-bottom: thin solid white;
          }
          box-sizing: content-box;
          .detail-score{
            color: @color-content;
            background: white;
            width: 10%;
            height: 3rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            p{
              text-align: center;
              margin: 0;
              line-height: 3;
              font-size: 1rem;
            }
          }
          .detail-date{
            white-space: pre-wrap;
            color: @color-content;
            background: white;
            width: 30%;
            height: 3rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            p{
              margin: 0;
              text-align: center;
              font-size: 1rem;
            }
          }
          .detail-time{
            color: @color-content;
            background: white;
            width: 30%;
            height: 3rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            p{
              line-height: 3;
              margin: 0;
              text-align: center;
              font-size: 1rem;
            }
          }
          .participant{
            box-sizing: border-box;
            padding-left: 5px;
            padding-top:3px;
            color: @color-content;
            border-left: 0.25rem solid @color-content;
            background: white;
            width: 70%;
            height: 3rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            &.winner{
              color: @color-release;
              border-color: @color-winner;
            }
            &.loser{
              color: @color-community;
              border-color: @color-community;
            }
            .single{
              margin: 0 1.25rem;
              line-height: 3;
              font-size: 1rem;
            }
            .double{
              margin: 0 1.25rem;
              line-height: 1.5;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
